:root {
    --primary-text-color: #434455; 
    --title-text-color: #2E2F42;
    --text-selection-color: #404BBF;
    --hero-footer-background-color: #2E2F42;
    --main-background-color:  #FFF;
    --features-btn-color: #4D5AE5;
    --features-btn-background-color: #F4F4FD;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--main-background-color); 
    color: var(--primary-text-color);
}

a {
    text-decoration: none; 
}

.list {
    list-style: none;
}

.web {
    color:#4D5AE5;
}
.studio {
    color: var(--title-text-color)
}
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--text-selection-color);
}

.contacts .link {
    color: var(--title-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--text-selection-color);    
}

.hero {
    background-color: var(--hero-footer-background-color);
}

.hero-title {
    color: var(--main-background-color);
}
.hero-btn {
    color: var(--main-background-color);
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--text-selection-color);
}

.section-title {
    color: var(--title-text-color);
}

.feature .title {
    color: var(--title-text-color);
}

.team .title {
    color: var(--title-text-color);
}

.bottom {
    background-color: var(--hero-footer-background-color);
}
.bottom-web {
    color: #4D5AE5;
}
.bottom-studio {
    color: #F4F4FD;
}
.bottom-text {
   color: #E7E9FC;
}

.features-btn {
    color: var(--features-btn-color);
    background-color: var(--features-btn-background-color);
    border: 1px;
    border-color: #E7E9FC;
    cursor: pointer;
}

.features-btn:hover,
.features-btn:focus {
    color: var(--main-background-color);
    background-color: var(--text-selection-color);
    border: 1px;
    border-color: #E7E9FC;
    cursor: pointer; 
}

.features-description .title {  
    color: var(--title-text-color);
}

.features-description .text {
    color: var(--primary-text-color);
}


